<div>
  <p>
    Hi - <%= @user.first_name + " " + @user.last_name %>. Sorry that you lost your password. Your new temporary password
    is:
  </p>

  <p style="margin:12px;">
    <%= @new_password %>
  </p>

  <p>
    Thanks for visiting our site!
  </p>
  <p>
    CCA
  </p>

</div>
