<!DOCTYPE html>
<html>
<head>
  <title>CCA | Columbia Corridor Association</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="">
</head>
<body>

<%= yield %>

</body>
</html>
