<!DOCTYPE html>
<html>
<head>
  <title>CCA | Columbia Corridor Association</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="">
</head>
<body>

<%= yield %>


<script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
<script>
  return;
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAnYe272_CVJB-i1pbWpXuNliKyC71f630",
    authDomain: "columbia-corridor.firebaseapp.com",
    databaseURL: "https://columbia-corridor.firebaseio.com",
    storageBucket: "columbia-corridor.appspot.com",
    messagingSenderId: "1082141111045"
  };
  firebase.initializeApp(config);
</script>

</body>
</html>
